* {
  margin: 0;
  padding: 0;
}

body {

  background-color: grey;
}

  h1 {
    color: white;
    position: relative;
  }

p {
  position: relative;
}

nav {
  width: 100%;
  height: 100px;
  background-color: #fff;

}
ul li{
  list-style: none;
  display: inline-block;
  float: left;
  line-height: 100px;
}

ul li a{
  display: block;
text-decoration: none;
font-size: 14px;
font-family: arial;
color: blue;
padding: 0 20px;
}

ul li a:hover{
color: black;
background-color: lightgrey;
}
.me {
  background-color: unset;
  height: 100px;
}
.me:hover{
background-color: unset;
}

.me img:active{
right: unset;
bottom: unset;
width: 95px;
height: 95px;
padding-right: 5px;
margin-right: -2px;
}

ul li a:active{
position: relative;
font-size: 13px;
margin-bottom: -20px;
margin-right: 2px;
color: black;
}

.introlad {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px;
  margin: 10px;
  overflow: hidden;
  font-size: 40px;
}

.paragraphlad {
  text-align: center;
  position: relative;
  width: 50%;
  left: 25%;
  line-height: 30px;
}

.claytorious {
  width: 50%;
  height: 50%;
  position: relative;
  left: 25%;
}

.shortfilms {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px;
  margin: 10px;
  overflow: hidden;
  font-size: 40px;
}
