* {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  height: 100px;
  background-color: #fff;
}
ul li{
  list-style: none;
  display: inline-block;
  float: left;
  line-height: 100px;
}

ul li a{
  display: block;
text-decoration: none;
font-size: 14px;
font-family: arial;
color: blue;
padding: 0 20px;
}

ul li a:hover{
color: black;
background-color: lightgrey;
}

.me:hover{
background-color: none!important;
}

ul li a:active{
position: relative;
right: -2px;
bottom: -2px;
margin-bottom: -20px;
color: black;
}


body {

  background-color: grey;

}

  h1 {
    color: white;
  }
